.header{
display: flex;
width: 100%;
height: auto;
justify-content: space-evenly;
background-color: white;
text-align: center;
font-size: 30px;
padding: 10px 0px 10px 0px;
position: fixed;
top: 0;
font-family: 'Bebas Neue', sans-serif;
}

img{
    height: 80px;
    width: auto;
}

.left{
    width: 100px;
    height: auto;
    padding-top: 25px;
}

.middle{
    width: 100px;
    height: auto;
    padding-top: 25px;
}

.right{
    width: 100px;
    height: auto;
    padding-top: 25px;
}

